{% extends "base.html" %}
{% block body %}


<h1>Visualisierungen von Anzahl und Flächengrössen mit Bubbles</h1>
<p class"info">

Alle Bäume der Stadtgärtnerei sind auf dem elektronischen Stadtplan abrufbar. Diesen finden Sie hier: <a href="http://www.stadtplan.bs.ch/geoviewer/index.php?theme=228&cps=2611528.69,1267207.96,5000&nodefault&layers=stadtplan_grau_osm_5000,baumkataster">Geoviewer</a><br>

Oder für Verwaltungsangestellte auf MapBS mit zusätzlichen Informationen: <a href="map.geo.bs.ch/s/ty3U">MapBS</a><br>


</p>
<div class="row">
	<div class="six columns" id="qform">
		<form>
			<fieldset>
				<label>
			<input type="radio" name="bk_or_gk" id="bk" value="BK">
			<span class="label-body"> Bubble Baumkataster</span><br>
			<input type="radio" name="bk_or_gk" id="gk" value="GK">
			<span class="label-body"> Bubble Grünkataster</span>
				</label>
			</fieldset>
		</form>
		


	</div>
</div>





<div id="bubble" class="hidden">
<p>
<h3>Alle Bäume der Stadtgärtnerei: Aufgeteilt und Gruppiert nach Baumart</h3>
</p>
</div>




<div id="bubble_profile" class="hidden">
	<p>
<h3>Alle Flächen der Stadtgärtnerei: Aufgeteilt und Gruppiert nach Profile</h3>	
</p>
</div>



<div id="bubble_spez" class="">
	<p>
<h4>Alle Bäume der Stadtgärtnerei in einem ausgewählten Objekt: Aufgeteilt und Gruppiert nach Profile</h4>	
</p>
</div>








{% endblock %}