{% extends "base.html" %}
{% block body %}

<h1>d3: Erste Beispiele </h1>



<h2>d3: Barplot(s)</h2>
<h3>Top ten Baumarten </h3>
<div class="barplots" id="barplot1">
<h3>Top ten Baum Gattungen </h3>

</div>

<div class="barplots" id="barplot2">
<h3>Top ten Baumarten und Sorten</h3>

</div>

<div class="barplots" id="barplot3">
<h3>Bäume in den Anlagen </h3>

</div>

<div class="linienplots" id="linienplot1">
<h3>Baumbestand im Zeitverlauf </h3>

</div>



<div class="linienplots" id="linienplot2">
<h6>Flächen im Zeitverlauf  </h6>

</div>

<div class="row">
<h5>Select Formular via AJAX </h5>
<form> 
<div id="myselect">
</div>
</form>

<div id="result">	
</div>
</div> 



<div class="row">
<h5>Select Formular via interner JSON/JS Abfrage </h5>
<form> 
<div id="myobjekt">
</div>
</form>

<div id="result_objekt">
	
</div>
</div>



{% endblock %}